a:link {
    text-decoration: none;
    color: #cecece;
}

a:visited {
    color: #fff;
}

a:active {
    font-weight: bolder;
}

a:hover {
    color: #f64274;
}

body {
    margin: 0;
    background: #333333;
    color: #efefef;
    padding: 90px 0 35px 250px;
    font: 13px Segoe UI, Helvetica, sans-serif
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #333333;
}

#navi {
    background: #101010;
    color: #cecece;
    text-align: left;
    padding: 7px;
    padding-left: 10pt;
    font-weight: bold;
    font-size: 12pt;
    clear: both;
}

#logo {
    padding-left: 10px;
    height: 44px;
    width: 472px;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 0;
    margin-left: 5px;
    float: left;
}

#user {
    float: right;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #666666;
    text-align: right;
}

#content {
    margin: 0 auto;
    padding-top: 10px;
    width: 900px;
    alignment-baseline: middle;
}

#content_forum {
    top: 88px;
    width: 100%;
    height: 500%;
}

#sidebar {
    background: #1d1d1d;
    position: absolute;
    top: 88px;
    left: 0;
    width: 250px;
    height: 100%;
}

@media screen {
    body>div#header {
        position: fixed;
    }

    body>div#footer {
        position: fixed;
    }

    body>div#sidebar {
        position: fixed;
    }

    body>div#forum {
        position: fixed;
    }
}

* html body {
    overflow: hidden;
}

* html #content {
    height: 100%;
    overflow: auto;
}