/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    /*vertical-align: baseline;*/
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

strong {
    font-weight: bold;
    color: #0289ce;
}

em {
    font-style: oblique;
}

p {
    margin: 15px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 120%;
}

h6 {
    font-size: 110%;
}

a:link {
    color: #fff;
    text-decoration: none;
    color: #cecece;
}

a:visited {
    color: #fff;
}

a:active {
    font-weight: bolder;
}

a:hover {
    color: #f64274;
}

/*End RESET - Begin Full Width CSS*/
body {
    background: #333;
    color: #fff;
    font: 13px Segoe UI, Helvetica, sans-serif
}

.wrap {
    margin: 0 auto;
    width: 900px;
    alignment-baseline: middle;
}

.wrap .main {
}

.main #post-pic {

}

.main #post-desc h1 {
    /**font- **/
}

.main #post-desc p {

}

#header, #footer {
    float: left;
    padding: 15px 0;
    min-width: 100%;
}

#header {
    background: #333;
}

#header .logo {
    float: none;
    margin-left: 5px;
    height: 44px;
    width: 472px;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
}

#header p {
    float: right;
    width: 400px;
    margin: 0;
}

#content {
    padding: 15px 0;
    clear: both;
}

#footer {
    background: #333;
    text-align: center;
    /*To anchor to bottom of page uncomment the following lines:*/
    /*position:fixed;
    bottom:0;*/
}

#footer a {
    color: #fff;
}
	
	