.sidebar {
    width: 200px;
    background: #1d1d1d;
    /*float: left;*/
    padding: 10px;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    /*margin-right: -100px;*/
}

/*.sidebar .chat {*/
/*width: 100%;*/
/*}*/

.chat #name {

}

.chat #message {

}

.sidebar .textbar {

}

.textbar #inputfield {

}

.textbar #button {

}

@media screen {
    body>div #sidebar{
        position:fixed;
    }

    body>div #header{
        position:fixed;
    }
}

* html body{
    overflow:hidden;
}
* html div #forum {
    height:100%;
    overflow:auto;
}