vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|

21
Apr

2012
04
:

51
:

16
-
0000
vti_extenderversion:SR|

12.0
.0
.0
vti_backlinkinfo:VX|lightbox

/
index.html
vti_author:SR|HOSHI-PC\\hoshi~
vti_modifiedby:SR|HOSHI-PC\\hoshi~
vti_timecreated:TR|

21
Apr

2012
04
:

51
:

16
-
0000
vti_cacheddtm:TX|

21
Apr

2012
04
:

51
:

16
-
0000
vti_filesize:IR|

3767
vti_cachedlinkinfo:VX|S|data:image

/
gif

;
base64, R0lGODlhAQABAIAAAAAAAP

/
/
/
yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 S|..

/
images

/
prev.png S|..

/
images

/
next.png
vti_cachedsvcrellinks:VX|NSUS|data:image

/
gif

;
base64, R0lGODlhAQABAIAAAAAAAP

/
/
/
yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 FSUS|lightbox

/
images

/
prev.png FSUS|lightbox

/
images

/
next.png
